*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.payment{
    width:100vw;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(360px,1fr));
}
.payment-description{
    padding:0 1em 0 1em;
    height:80vh;
}
.payment-photos{
    padding:0 1em;
    min-width: 250px;
    height:80vh;
    display:flex;
    justify-content: space-between;
}
.description-title{
    min-width: 250px;
    padding:1em 0 1em 0;
    height:40%;
}
.description-body{
    padding:1em 0 1em 0;
    line-height: 30px;
    height:30%;
}
.join-login{
    width:100%;
    padding-top:3em;
    padding-left:0;
    padding-right: 20%;
    display: flex;
    justify-content:space-between;
    height: 30%;
}
.join-login button{
    width:150px;
}
.photos-boda{
    width:50%;
    padding:1em;
    padding: top 20px;
    padding-bottom: 20px;
}
.photos-boda img{
    width:100%;
    height:100%;
}
.photos-data{
    padding:1em;
    height:100%;
    width:50%;
}
.photos-data img{
    height:50%;
    width:100%;

}
.numbers{
    background-color:rgb(236, 110, 32);
}
.numbers-plus{
    height:60%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:2px;
}
.numbers-plus-merchants{
    padding: 10%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
}
.numbers-join{
    text-align: center;
    height:40%;
    padding:2em;
    
}
.numbers-join button{
    width:300px;
}
.faqs-header{
    width:60%;
    padding:1rem;
    margin: auto;
    text-align: center;
}  
  .faqs-body {
    background-color: #f4f4f4;
    max-width: 900px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
  }
  
  section.faq {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  
  .faqs ul {
    text-align: left;
  }
  .transition, p, ul li i:before, ul li i:after {
    transition: all 0.3s;
  }
  
  .faqs-body .no-select, .faqs h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
  }
  
  .faqs h1 {
    color: #000;
    margin-bottom: 30px;
    margin-top: 0;
  }
  
  .faqs h2 {
    color: #cc071e;
    font-family: 'hm_light', sans-serif;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
  }
  
  .faqs p {
    color: #333;
    text-align: left;
    font-family: 'hm_light', sans-serif;
    font-size: 18px;
    line-height: 1.45;
    position: relative;
    overflow: hidden;
    max-height: 250px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
    transition: .3s opacity, .6s max-height;
    hyphens: auto;
    z-index: 2;
  }
  
  .faqs ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  .faqs ul li {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /*padding-bottom: 4px;*/
    /*padding-top: 18px;*/
    background: #ffff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
    -webkit-tap-highlight-color: transparent;
    border-radius: 1em;
  }
  .faqs ul li + li {
    margin-top: 15px;
  }
  .faqs ul li:last-of-type {
    padding-bottom: 0;
  }
  .faqs ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
  }
  .faqs ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: #cc071e;
    width: 3px;
    height: 9px;
  }
  .faqs ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  .faqs ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  .faqs ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
  }
  .faqs ul li input[type=checkbox]:checked ~ h2 {
    color: #000;
  }
  .faqs ul li input[type=checkbox]:checked ~ p {
    /*margin-top: 0;*/
    max-height: 0;
    transition: .3s;
    opacity: 0;
    /*transform: translate(0, 50%);*/
  }
  .faqs ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  .faqs ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
.footer{
    margin-top: 2rem;
}
.contact-us{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:2em;
}
.contact-words{
    padding:4em 2em;
    border-radius:1rem;
    background-color: rgb(246, 140, 69);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.contact-form{
    padding:2rem;
    border-radius: 1em;
    background-color: rgb(246, 140, 69);
}
.contact-form .input{
    width:70%;
    height:2rem;
    border-radius: .5rem;
}
.footer-summary{
    width:100%;
    padding:2em;
    background-color: black;
    color:white;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:1rem;
}
.footer-nav,.footer-address,.footer-contact{
    text-align: center;
    padding-top: 2em;
    background-color: rgb(45, 24, 24);
    border-radius: .5em;
}
